/** primeros e llama todo lo que corresponda a utilities **/
/**segundo se llama a todo lo que corresponda a base**/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Rubik:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/** tercero se llama a todo lo que corresponda a layout **/
header {
  width: 100%;
  background-color: #FFFFFF;
  padding: .2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: none;
  align-items: center;
  gap: none; }
  header div a img {
    width: 3.5rem;
    /* Cambia este valor al ancho deseado */
    height: 3.5rem; }
  header .navBar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-content: none;
    align-items: center;
    gap: 1rem; }
    header .navBar li a {
      text-transform: capitalize;
      text-decoration: none;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 1.5625rem;
      text-align: none;
      color: #8C7E7E; }
      header .navBar li a:hover {
        color: #D70D6E;
        text-shadow: 2px 2px 10px #D70D6E; }

footer {
  background-color: #D9D9D9;
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: none;
  align-items: center;
  gap: none; }
  footer div p {
    padding: none;
    margin: 0.1875rem 0.625rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: none;
    color: #000000; }
  footer div a img {
    width: 1.875rem;
    height: 1.875rem;
    padding: none;
    margin: 0 0.625rem; }
  footer .horario h3, footer .horario main .sectionPrincipalNosotros div h2, main .sectionPrincipalNosotros div footer .horario h2, footer .horario main .sectionPrincipalNosotros div .informacion .correo p, main .sectionPrincipalNosotros div .informacion .correo footer .horario p, footer .horario main .informacion .correo .sectionPrincipalNosotros div p, main .informacion .correo .sectionPrincipalNosotros div footer .horario p, footer .horario main .sectionPrincipalNosotros div .informacion .telefono p, main .sectionPrincipalNosotros div .informacion .telefono footer .horario p, footer .horario main .informacion .telefono .sectionPrincipalNosotros div p, main .informacion .telefono .sectionPrincipalNosotros div footer .horario p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: none;
    color: #000000;
    padding: none;
    margin: 0.4375rem 0 0 0.3125rem; }
  footer .horario dl dt {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: none;
    color: #000000;
    padding: none;
    margin: 0rem 0 0.125rem 0.625rem; }
  footer .horario dl dd {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: none;
    color: #000000;
    padding: none;
    margin: 0rem 0 0.625rem 0.625rem; }

/** Main index **/
main {
  background-color: #F1F1EF; }
  main .sectionPrincipalIndex {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1542826438-bd32f43d626f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1984&q=80");
    background-position: 50% 25%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: none;
    gap: 1rem; }
    main .sectionPrincipalIndex h1 {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
      font-size: 10rem;
      text-align: none;
      color: #FFFFFF;
      padding: 0.3rem;
      margin: none; }
    main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      font-size: 6rem;
      text-align: none;
      color: #FFFFFF;
      padding: 0.3125rem;
      margin: none; }
    main .sectionPrincipalIndex div button {
      background-color: #D70D6E;
      border: none;
      border-radius: .625rem;
      padding: 0.65rem 1.25rem;
      margin: 1rem 1.3rem 2rem 1.3rem; }
      main .sectionPrincipalIndex div button a {
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-align: none;
        color: #FFFFFF; }
  main .sectionSecundariaIndex {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: "img-1 img-2 img-3 img-4" "boton-1 boton-2 boton-3 boton-4";
    justify-content: center;
    align-content: center;
    justify-items: none;
    align-items: center;
    gap: 0 2rem; }
    main .sectionSecundariaIndex div img {
      width: 100%;
      height: 40vh;
      padding: 1rem;
      margin: 0; }
    main .sectionSecundariaIndex div button {
      background-color: #D70D6E;
      border: none;
      border-radius: .625rem;
      padding: 0.625rem 1.25rem;
      margin: 1rem 2rem 2rem 2rem; }
      main .sectionSecundariaIndex div button a {
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-align: none;
        color: #FFFFFF; }
    main .sectionSecundariaIndex .img-1, main .sectionSecundariaIndex .img-2, main .sectionSecundariaIndex .img-3, main .sectionSecundariaIndex .img-4 {
      grid-area: img-1;
      justify-self: center;
      align-self: center; }
    main .sectionSecundariaIndex .img-2 {
      grid-area: img-2; }
    main .sectionSecundariaIndex .img-3 {
      grid-area: img-3; }
    main .sectionSecundariaIndex .img-4 {
      grid-area: img-4; }
    main .sectionSecundariaIndex .boton-1, main .sectionSecundariaIndex .boton-2, main .sectionSecundariaIndex .boton-3, main .sectionSecundariaIndex .boton-4 {
      grid-area: boton-1;
      justify-self: center;
      align-self: center; }
    main .sectionSecundariaIndex .boton-2 {
      grid-area: boton-2; }
    main .sectionSecundariaIndex .boton-3 {
      grid-area: boton-3; }
    main .sectionSecundariaIndex .boton-4 {
      grid-area: boton-4; }

main .sectionPrincipalNosotros {
  padding: 2rem 0 0 0;
  margin: 0 5rem 3rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6/7fr 1/7fr;
  grid-template-areas: "titulo . imagen" "parrafo parrafo imagen";
  justify-content: none;
  align-content: none;
  justify-items: none;
  align-items: none;
  gap: 0rem 0.625rem; }
  main .sectionPrincipalNosotros div {
    grid-area: titulo;
    justify-self: start;
    align-self: center; }
    main .sectionPrincipalNosotros div h3, main .sectionPrincipalNosotros div h2, main .sectionPrincipalNosotros div .informacion .correo p, main .informacion .correo .sectionPrincipalNosotros div p, main .sectionPrincipalNosotros div .informacion .telefono p, main .informacion .telefono .sectionPrincipalNosotros div p {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      text-align: left;
      color: #D70D6E;
      padding: 2rem 0 0 0.3125rem;
      margin: 0 0 0 0.625rem; }
    main .sectionPrincipalNosotros div h2, main .sectionPrincipalNosotros div .informacion .correo p, main .informacion .correo .sectionPrincipalNosotros div p, main .sectionPrincipalNosotros div .informacion .telefono p, main .informacion .telefono .sectionPrincipalNosotros div p {
      font-weight: 700;
      font-size: 3.125rem;
      padding: 0; }
  main .sectionPrincipalNosotros p {
    grid-area: parrafo;
    justify-self: start;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    text-align: none;
    color: #000000;
    padding: none;
    margin: 1rem; }
  main .sectionPrincipalNosotros img {
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    width: 100%;
    padding: none;
    margin: 0.625rem; }

main .sectionSecundariaNosotros {
  padding: 0 0 2rem 0;
  margin: 2rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6/7fr 1/7fr;
  grid-template-areas: "foto . titulo-h2" "foto p p";
  justify-content: none;
  align-content: none;
  justify-items: none;
  align-items: none;
  gap: 0rem 0.625rem; }
  main .sectionSecundariaNosotros img {
    grid-area: foto;
    justify-self: center;
    align-self: center;
    width: 80%;
    padding: none;
    margin: 0.625rem 0; }
  main .sectionSecundariaNosotros h2, main .sectionSecundariaNosotros .informacion .correo p, main .informacion .correo .sectionSecundariaNosotros p, main .sectionSecundariaNosotros .informacion .telefono p, main .informacion .telefono .sectionSecundariaNosotros p {
    grid-area: titulo-h2;
    justify-self: end;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 3.125rem;
    text-align: right;
    color: #D70D6E;
    padding: 0.625rem;
    margin: 0 0.625rem 0 0; }
  main .sectionSecundariaNosotros p {
    grid-area: p;
    justify-self: end;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    text-align: right;
    color: #000000;
    padding: none;
    margin: 0 0.625rem 0 0; }

/** Main Contactanos **/
main .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: none;
  align-items: none;
  gap: 0.3125rem; }
  main .formulario h2, main .formulario .informacion .correo p, main .informacion .correo .formulario p, main .formulario .informacion .telefono p, main .informacion .telefono .formulario p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    text-align: none;
    color: #D70D6E;
    padding: 0.625rem;
    margin: none; }
  main .formulario form {
    padding: none;
    margin: 0 5rem 1rem 5rem; }
    main .formulario form fieldset {
      border: 0px;
      border-top: 1px solid #000000;
      padding: 1.25rem;
      margin: 1.25rem 3rem 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-content: none;
      align-items: flex-start;
      gap: none; }
      main .formulario form fieldset legend {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        font-size: 1.875rem;
        text-align: none;
        color: #D70D6E; }
      main .formulario form fieldset label {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        text-align: none;
        color: #000000;
        align-items: start; }
      main .formulario form fieldset input[type="text"], main .formulario form fieldset input[type="email"], main .formulario form fieldset input[type="number"] {
        background-color: #cccccc;
        width: 100%;
        border: .0625rem solid #cecece;
        border-radius: .3125rem;
        padding: 0.625rem;
        margin: 0 0 0.9375rem 0; }
      main .formulario form fieldset input[type="submit"] {
        background-color: #D70D6E;
        color: #fff;
        padding: .625rem 1.25rem;
        border: none;
        border-radius: .5rem;
        align-self: center; }

main .informacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1/6fr 5/6fr;
  grid-template-areas: "correo telefono" "mapa mapa";
  justify-content: none;
  align-content: none;
  justify-items: center;
  align-items: center;
  gap: 0.9375rem;
  padding: none;
  margin: 0 5rem 0 5rem; }
  main .informacion .correo, main .informacion .telefono {
    grid-area: correo;
    justify-self: center;
    align-self: center; }
    main .informacion .correo img, main .informacion .telefono img {
      width: 3rem;
      height: 3rem;
      padding: none;
      margin: 1rem 0 0.3125rem 0.3125rem; }
    main .informacion .correo h2, main .informacion .telefono h2, main .informacion .correo p, main .informacion .telefono p {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-size: 2.5rem;
      text-align: none;
      color: #D70D6E;
      padding: 0 0 0 0.3125rem;
      margin: none; }
    main .informacion .correo p, main .informacion .telefono p {
      font-size: 1.5rem;
      color: #000000; }
  main .informacion .telefono {
    grid-area: telefono; }
  main .informacion .mapa {
    grid-area: mapa;
    justify-self: center;
    align-self: center;
    text-align: center; }
    main .informacion .mapa iframe {
      border: .0625rem solid black;
      width: 28.125rem;
      height: 28rem;
      padding: 0.9375rem;
      margin: 2rem; }

/**Main Catalogo **/
main h2, main .informacion .correo p, main .informacion .telefono p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  text-align: none;
  color: #D70D6E;
  padding: none;
  margin: 0 0.5rem 0.5rem 0.5rem; }

main .productosCatalogo {
  padding: 1rem 3rem 1rem 3rem;
  margin: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: none;
  align-items: none;
  gap: 1rem; }
  main .productosCatalogo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem 0.3125rem; }
    main .productosCatalogo div img {
      width: 100%;
      height: 35vh;
      margin-left: .625rem; }
    main .productosCatalogo div button {
      background-color: #D70D6E;
      border: none;
      border-radius: .625rem;
      padding: 0.625rem 1.25rem;
      margin: 0 0 0.75rem 0.3125rem; }
      main .productosCatalogo div button a {
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-align: none;
        color: #FFFFFF; }

/** Main Carrito **/
main .productoCarrito {
  padding: none;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "h2 h2" "img informacio-carrito" "button button";
  justify-content: center;
  align-content: none;
  justify-items: center;
  align-items: none;
  gap: 2rem; }
  main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 7rem;
    text-align: right;
    color: #B50057;
    padding: 0 0.3125rem;
    margin: 0 0.625rem;
    grid-area: h2;
    justify-self: center;
    align-self: center; }
  main .productoCarrito img {
    width: 100%;
    padding: none;
    margin: 0.625rem;
    grid-area: img;
    justify-self: center;
    align-self: center; }
  main .productoCarrito div {
    grid-area: informacio-carrito;
    justify-self: center;
    align-self: center; }
    main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-size: 3.5rem;
      text-align: right;
      color: #000000; }
    main .productoCarrito div article .carritoPrecio {
      font-weight: 500;
      font-size: 4rem;
      padding: 0 0 0.3125rem 0;
      margin: none; }
  main .productoCarrito button {
    grid-area: button;
    justify-self: center;
    align-self: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: none;
    color: #FFFFFF;
    padding: 1.25rem 1.875rem;
    margin: 0 0 2rem 0;
    background-color: #BF1E1E;
    text-decoration: none;
    border: none;
    border-radius: .625rem; }

/******** mediaquery ********/
/** 1440 **/
/* index*/
@media (max-width: 1440px) {
  main .sectionPrincipalIndex h1 {
    font-size: 7rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 5rem; }
  main .sectionSecundariaIndex {
    gap: 0; } }

/* carrito */
@media (max-width: 1440px) {
  main .productoCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem; }
    main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
      font-size: 5.5rem;
      text-align: center;
      justify-self: center; }
    main .productoCarrito img {
      width: 75%;
      justify-self: center; }
    main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
      font-size: 3rem;
      text-align: center; }
    main .productoCarrito div article .carritoPrecio {
      font-size: 3.5rem; } }

/** 1024 **/
/*index*/
@media (max-width: 1024px) {
  main .sectionPrincipalIndex h1 {
    font-size: 7rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 5rem; }
  main .sectionSecundariaIndex {
    grid-template-areas: "img-1 img-2" "boton-1 boton-2" "img-3 img-4" "boton-3 boton-4"; }
    main .sectionSecundariaIndex div img {
      height: 45vh; } }

/* carrito */
@media (max-width: 1024px) {
  main .productoCarrito img {
    width: 100%; }
  main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
    font-size: 3rem; } }

/** 768 **/
/*index*/
@media (max-width: 768px) {
  main .sectionPrincipalIndex h1 {
    font-size: 6rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 4rem; }
  main .sectionSecundariaIndex {
    grid-template-areas: "img-1 img-2" "boton-1 boton-2" "img-3 img-4" "boton-3 boton-4"; }
    main .sectionSecundariaIndex div img {
      height: 40vh; } }

/* carrito */
@media (max-width: 768px) {
  main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
    font-size: 4rem; }
  main .productoCarrito img {
    width: 75%; }
  main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
    font-size: 2.5rem; } }

/** 425 **/
/*header*/
@media (max-width: 600px) {
  header nav .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: none;
    align-items: none;
    gap: 0.3125rem; }
    header nav .navBar li a {
      font-size: 1.125rem; } }

@media (max-width: 425px) {
  header div a .carrito {
    display: none; } }

/*footer*/
@media (max-width: 600px) {
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: none;
    align-items: none;
    gap: 0.3125rem;
    padding: 0.3rem;
    margin: none; }
  footer .horario {
    display: none; } }

/*index*/
@media (max-width: 425px) {
  main .sectionPrincipalIndex h1 {
    font-size: 4.375rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 2.8125rem; }
  main .sectionSecundariaIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.5rem; } }

/* carrito */
@media (max-width: 425px) {
  main .productoCarrito {
    gap: 1rem;
    margin: 0 2rem; }
    main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
      font-size: 4rem; }
    main .productoCarrito img {
      width: 100%; }
    main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
      font-size: 2rem; } }

/** 375 **/
/*index*/
@media (max-width: 375px) {
  main .sectionPrincipalIndex h1 {
    font-size: 4rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 2.75rem; } }

/* carrito */
@media (max-width: 375px) {
  main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
    font-size: 3rem; } }

/** 320 **/
/*index*/
@media (max-width: 320px) {
  main .sectionPrincipalIndex h1 {
    font-size: 3.5rem; }
  main .sectionPrincipalIndex h2, main .sectionPrincipalIndex .informacion .correo p, main .informacion .correo .sectionPrincipalIndex p, main .sectionPrincipalIndex .informacion .telefono p, main .informacion .telefono .sectionPrincipalIndex p {
    font-size: 2.25rem; }
  main .sectionSecundariaIndex div img {
    height: 35vh; }
  main .sectionSecundariaIndex div button {
    margin: 0 0 .5rem 0; } }

/* carrito */
@media (max-width: 320px) {
  main .productoCarrito {
    margin: 0 1.5rem; }
    main .productoCarrito h2, main .productoCarrito .informacion .correo p, main .informacion .correo .productoCarrito p, main .productoCarrito .informacion .telefono p, main .informacion .telefono .productoCarrito p {
      font-size: 3rem; }
    main .productoCarrito div article .carritoInformacion, main .productoCarrito div article .carritoPrecio {
      font-size: 2rem; } }
