$background-boton: #D70D6E;
$letra-boton: #ffffff;

$background-header: #FFFFFF;
$letra-navBar: #8C7E7E;

$background-main: #F1F1EF;
$color-titulo: #D70D6E;
$color-letra: #000000;

$titutlo-index: #FFFFFF;

$titulo-carrito: #B50057;
$boton-carrito: #BF1E1E;
$letra-boton-carrito: #FFFFFF;

$background-footer: #D9D9D9;