
$weigth-400: 400;
$weigth-500: 500;
$weigth-700: 700;

$weigth-300: 300;
$weigth-400: 400;
$weigth-500: 500;
$weigth-600: 600;


$background-boton: #D70D6E;
$letra-boton: #ffffff;

$color-titulo: #D70D6E;
$color-letra: #000000;

$background-footer: #D9D9D9;
$background-header: #FFFFFF;
$background-main: #F1F1EF;

