header{
    width: 100%;
    background-color: #FFFFFF;
    padding: .2rem 1rem;
    @include flex(row, space-between, none, center, none);
    div{
        a{
            img {
            width: 3.5rem; /* Cambia este valor al ancho deseado */
            height: 3.5rem /* Cambia este valor al largo deseado */
            }
        }
    }
    .navBar{
        list-style: none;
        @include flex(row, none, none, center, 1rem);
        li{
            a{
                text-transform: capitalize;
                text-decoration: none;
                @include font-Rubik(400, 1.5625rem, none, #8C7E7E);
                &:hover{
                    color: #D70D6E;
                    text-shadow: 2px 2px 10px #D70D6E;
                }
            }
        }
    }
}