@import "../utilities/variables";

/** Main Contactanos **/

main{
    .formulario{
        @include flex(column, center, none, none, .3125rem);
        h1{
            @include font-Noto(700, 3.75rem, none, $color-titulo);
            @include box-modeling(.625rem, none)
        }
        form{
            @include box-modeling(none, 0 5rem 1rem 5rem);
            fieldset{
                border: 0px;
                border-top: 1px solid $color-letra;
                @include flex(column, none, none, flex-start, none);
                legend{
                    @include font-Noto(500, 1.875rem, none, $color-titulo)
                }
                label {
                    @include font-Noto(400, 1rem, none, $color-letra);
                    align-items: start
                }
                input[type="text"]{
                    background-color: #cccccc;
                    width: 100%;
                    border: .0625rem solid #cecece;
                    border-radius: .3125rem;
                    @include box-modeling(.625rem, 0 0 .9375rem 0)
                }
                input[type="email"]{
                    @extend input[type="text"];
                }
                input[type="number"]{
                    @extend input[type="text"];
                }
                input[type="submit"]{
                    background-color: $color-titulo;
                    color: #fff;
                    padding: .625rem 1.25rem;
                    border: none;
                    border-radius: .5rem;
                    align-self: center ;
                }
            }
        }
    }
    .informacion{
        @include grid(1fr 1fr, 1/6fr 5/6fr, "correo telefono" "mapa mapa", none, none, center, center, .9375rem);
        @include box-modeling(none, 0 5rem 0 5rem);
        .correo{
            @include objGrid(correo, center, center);
            @include flex(column, center, center, center, 0);
            img{
                width: 3rem;
                height: 3rem;
                @include box-modeling(none, 1rem 0 .3125rem .3125rem)
            }
            h2{
                @include font-Noto(400, 2rem, none, $color-titulo);
                @include box-modeling(0 0 0 .3125rem, none)
            }
            p{
                @include font-Noto(400, 2.5rem, none, $color-letra);
                @include box-modeling(0 0 0 .3125rem, none)
            }
        }
        .telefono{
            @extend .correo;
            grid-area: telefono;
        }
        .mapa{
            @include objGrid(mapa, center, center);
            text-align: center;
            iframe{
                border: .0625rem solid #000000;
                width: 28.125rem;
                height: 28rem;
                @include box-modeling(.9375rem, 2rem)
            }
        }
    }
}