$color-titulo: #D70D6E;
/**Main Catalogo **/

main{
    h2{
        @include font-Noto(500, 1.75rem, none, $color-titulo);
        @include box-modeling(none, 0 .5rem .5rem .5rem)
    }
    .productosCatalogo{
        @include box-modeling(1rem 3rem 1rem 3rem, none);
        @include flex(row, center, none, none, 1rem);
        div{
            @include flex(column, center, center, center, 1rem .3125rem);
            img{
                width: 100%;
                height: 35vh;
                margin-left: .625rem;
            }
            button{
                @include boton;
                @include box-modeling(.625rem 1.25rem, 0 0 .75rem .3125rem);
                a{
                    text-decoration: none;
                    @include font-Rubik(600, 1rem, none, #FFFFFF);
                }
            }
        }
    }
}