@import "../utilities/variables";

/**Main Catalogo **/

main{
    h2{
        @include font-Noto(500, 1.75rem, none, $color-titulo);
        @include box-modeling(1rem 0 0 0, 0 .5rem .5rem 1rem)
    }
    .productosCatalogo{
        @include box-modeling(0 2rem 0rem 2rem, none);
        @include flex(row, center, none, none, 1rem);
        div{
            @include box-modeling(1rem, 0);
            @include flex(column, center, center, center, 1rem .3125rem);
            img{
                width: 100%;
                height: 35vh;
                border-radius: 1rem
            }
            button{
                @include boton;
                @include box-modeling(.625rem 1.25rem, 0 0 .75rem .3125rem);
                a{
                    text-decoration: none;
                    @include font-Rubik(600, 1rem, none, $letra-boton);
                }
            }
        }
    }
}