@import "../utilities/variables";

/**Main Catalogo **/

main{
    section{
        h2{
            @include font-Noto(500, 2.75rem, none, $color-titulo);
            @include box-modeling(1rem 0 0 0, 0 .5rem .5rem 1rem);
        }
        .productosCatalogo{
            @include box-modeling(none, 0 2rem);
            @include grid(none, none, "img-1 img-2 img-3 img-4" "boton-1 boton-2 boton-3 boton-4", center, center, none, center, 0 2rem);
            div{
                img{
                    width: 100%;
                    height: 40vh;
                    @include box-modeling(1rem, 0);
                    /*height: 35vh;*/
                    border-radius: 1.5rem;
                }
            }
            div{
                button{
                    @include boton;
                    @include box-modeling(.625rem 1.25rem, 1rem 2rem 2rem 2rem);
                    @include box-modeling(.625rem 1.25rem, 0 0 .75rem 0rem);
                    a{
                        text-decoration: none;
                        @include font-Rubik(600, 1rem, none, $letra-boton);
                    }
                }
            }
            .img-1 {
                @include objGrid(img-1, center, center)
            }
            .img-2 {
                @extend .img-1;
                grid-area: img-2;
            }
            
            .img-3 {
                @extend .img-1;
                grid-area: img-3;
            }
            
            .img-4 {
                @extend .img-1;
                grid-area: img-4; 
            }
            
            .boton-1 {
                @include objGrid(boton-1, center, center)
            }
            
            .boton-2 {
                @extend .boton-1;
                grid-area: boton-2;
            }
            
            .boton-3 {
                @extend .boton-1;
                grid-area: boton-3;
            }
            .boton-4 {
                @extend .boton-1;
                grid-area: boton-4;
            }
        }
    }
}