/** 768 **/
/*index*/

@media (max-width: 768px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 4rem;
            }
        }

        .sectionSecundariaIndex{
            @include box-modeling(none, 0 1rem);
            grid-template-areas: "img-1 img-2" "boton-1 boton-2" "img-3 img-4" "boton-3 boton-4";
            div{
                img{
                    height: 40vh;
                }
            }
        }
    }
}

@media (max-width: 535px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 3rem
            }
        }
        .sectionSecundariaIndex{
            @include flex(column, center, center, center, 0.5rem);
        }
    }
}

/* nosotros */
@media (max-width: 768px){
    main{
        .sectionPrincipalNosotros{
            @include flex(column, none, none, none, .5rem);
            div{
                h3{
                    text-align: center;
                }
                text-align: center;
            }
            p{
                text-align: center;
            }
            img{
                width: 70%
            }
        }
        .sectionSecundariaNosotros{
            @include flex(column, center, none, none, 1rem);
            img{
                display: none
            }
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}

/* carrito */
@media (max-width: 768px){
    main{
        .productoCarrito{
            gap: 0.5rem;
            h2{
                font-size: 3.25rem;
            }
            img{
                width: 100%;
            }
            div{
                article{
                    .carritoInformacion{
                        font-size: 2.15rem;
                    }
                }
            }
        }
    }
}
