/** 768 **/

/*index*/
@media (max-width: 768px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 4rem;
            }
        }

        .sectionSecundariaIndex{
            @include box-modeling(none, 0 1rem);
            div{
                img{
                    height: 40vh;
                }
            }
        }
    }
}

@media (max-width: 535px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 3rem
            }
        }
        .sectionSecundariaIndex{
            @include flex(column, center, center, center, 0.5rem);
        }
    }
}

/* nosotros */
@media (max-width: 768px){
    main{
        .sectionPrincipalNosotros{
            @include flex(column, none, none, none, .5rem);
            div{
                h3{
                    text-align: center;
                }
                text-align: center;
            }
            p{
                text-align: center;
            }
            img{
                width: 70%
            }
        }
        .sectionSecundariaNosotros{
            @include flex(column, center, none, none, 1rem);
            img{
                display: none
            }
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}

/* catalogo */
@media (max-width: 768px){
    main{
        section{
            h2{
                font-size: 2rem;
            }
            .productosCatalogo{
                @include box-modeling(none, 0 1rem);
                div{
                    img{
                        height: 40vh;
                    }
                }
            }
        }
    }
}

@media (max-width: 535px){
    main{
        section{
            .productosCatalogo{
                @include flex(column, center, center, center, 0.5rem);
            }
        }
    }
}

/* contactanos */
@media (max-width: 768px){
    main{
        .formulario{
            h1{
                font-size: 2.8rem;
                text-align: center;
            }
            form{
                margin: 0 1rem 1rem 1rem;
                fieldset{
                    @include box-modeling(0 0 0 1rem, 0 1rem 1rem 1rem);
                    legend{
                        font-size: 1.25rem
                    }
                }
            }
        }
        .informacion{
            @include flex(column, center, center, center, 1.5rem);
            @include box-modeling(0 0 1rem 0, 1rem 1rem 0 1rem);
            .correo{
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.75rem;
                }
            }
        }
    }
}

/* carrito */
@media (max-width: 768px){
    main{
        .productoCarrito{
            gap: 0.5rem;
            h1{
                font-size: 3.25rem;
            }
            img{
                width: 100%;
            }
            div{
                article{
                    .carritoInformacion{
                        font-size: 2.15rem;
                    }
                }
            }
        }
    }
}
