/** 375 **/
/*index*/

@media (max-width: 375px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 2.75rem;
            }
        }
    }
}

/* carrito */
@media (max-width: 375px){
    main{
        .productoCarrito{
            h2{
                font-size: 3rem;
            }
        }
    }
}

/* nosotros */
@media (max-width: 375px){
    main{
        .sectionPrincipalNosotros{
            gap: 0;
            p{
                font-size: 1rem;
            }
        }
        .sectionSecundariaNosotros{
            p{
                font-size: 1rem;
            }
        }
    }
}