/** 425 **/
/*header*/
@media (max-width: 600px){
    header{
        nav{
            .navBar{
                @include flex(column, center, none, none, .3125rem);
                li{
                    a{
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px){
    header{
        div{
            a{
                .carrito{
                    display: none;
                }
            }
        }
    }
}


/*footer*/
@media (max-width: 600px){
    footer{
        div{
            @include flex(column, center, none, none, .3125rem);
            @include box-modeling(.3rem, none)
        }
        .horario{
            display: none;
        }
    }
}


/*index*/
@media (max-width: 425px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 4.375rem;
            }
            h2{
                font-size: 2.8125rem;
            }
        }
    }
}

/* nosotros */
@media (max-width: 425px){
    main{
        .sectionPrincipalNosotros{
            div{
                h3{
                    font-size: 1rem;
                }
                h2{
                    font-size: 2.25rem;
                }
            }
            p{
                font-size: 1.25rem;
            }
            img{
                width: 100%;
            }
        }
        .sectionSecundariaNosotros{
            h1{
                font-size: 2.25rem;
            }
            p{
                font-size: 1.25rem;
            }
        }
    }
}

/* catalogo */
@media (max-width: 425px){
    main{
        .titulo{
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1.25rem;
            }
        }
        section{
            h2{
                font-size: 1.75rem;
            }
        }
    }
}

/* contactanos */
@media (max-width: 425px){
    main{
        .mapa{
            display: none;
        }
    }
}

/* carrito */
@media (max-width: 425px){
    main{
        .productoCarrito{
            gap: 0;
            margin: 0 2rem;
            h1{
                font-size: 3rem;
            }
            img{
                width: 100%;
            }
            div{
                article{
                    .carritoInformacion{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
