/** 1024 **/
/*index*/

@media (max-width: 1024px){
    main{
        .sectionPrincipalIndex{
            h1{
                font-size: 7rem;
            }
            h2{
                font-size: 5rem;
            }
        }
        .sectionSecundariaIndex{
        grid-template-areas: "img-1 img-2" "boton-1 boton-2" "img-3 img-4" "boton-3 boton-4";
            div{
                img{
                    height: 45vh;
                }
            }
        }
    }
}

/* nosotros */
@media (max-width: 1024px){
    main{
        .sectionPrincipalNosotros{
            @include box-modeling(none, 0 2rem 2rem 2rem);
            div{
                h3{
                    padding: 0;
                    font-size: .85rem;
                }
                h2{
                    font-size: 2.5rem;
                }
            }
            p{
                font-size: 1.5rem;
            }
            img{
                width: 100%;
            }
        }
        .sectionSecundariaNosotros{
            @include box-modeling(none, 0 2rem);
            img{
                width: 100%;
            }
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 920px){
    main{
        .sectionPrincipalNosotros{
            div{
                h2{
                    font-size: 2.5rem;
                }
            }
            p{
                font-size: 1.25rem;
            }
        }
        .sectionSecundariaNosotros{
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.25rem;
            }
        }
    }
}

/* carrito */
@media (max-width: 1024px){
    main{
        .productoCarrito{
            gap: .80rem;
            h2{
                font-size: 4rem;
            }
            img{
                width: 100%;
            }
            div{
                article{
                    .carritoInformacion{
                        font-size: 2.75rem;
                    }
                }
            }
        }
    }
}
